influxdb_url = 'http://localhost:8086'
nodeRed_url = 'http://localhost:1880'
org = 'idac'
bucket = 'Plant'
token = 'UeSDPytPWtUgQh55MZM0cJtctVvBUGPgH5KfLVhO87uh1BR1SZnVXiyCBsDfcZoBQDP5PX7M3Q3zPe47zzc6WQ=='
env_data_url = 'https://api.ecowitt.net/api/v3/device/real_time?application_key=FB3955E198C43731371FDF4A614092B0&api_key=d6cde7cd-999f-4810-84ad-5de42ca875d8&mac=C4:5B:BE:6E:4E:44&temp_unitid=1&pressure_unitid=3&wind_speed_unitid=6&rainfall_unitid=12&solar_irradiance_unitid=16'